 
  .buttonDirect {
    cursor: pointer;    
    padding: 5px;
  }
  
  .chatDirect {
    display: flex;
  }
  
  .chatDirect__main {
    display: flex;
    flex-direction: column;
    height: 97%;
    width: 100%;    
  }
  
  .chatDirect__messageDirect {
    flex-grow: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;            
  }
  
  .chatDirect__footer {
    background: #e6eaee;
    display: flex;
    padding: 0px 5px 32px 5px;
    flex-shrink: 0;    
  }
  
  .chatDirect__footer form-direct {
    flex-grow: 1;
    display: flex;
  }
  
  .chatDirect__footer form-direct * {
    margin-right: 10px;
  }

  .chatDirect__footer div {
    margin-right: 10px;    
  }
  
  .chatDirect__footer input {
    font-size: .75rem;    
    padding: 10px;
    flex-grow: 1;
  }
  
  .chatDirect__messageDirect {    
    list-style-type: none;
    padding: 10px;
  }

  .chatDirect__messageDirect ul {    
   max-width: 99%;  
  }

  .chatDirect__messageDirect li {
    /*background: #D6D6D6;*/
    border-radius: 8px;
    padding: 8px;
    word-wrap: break-word;
    max-width: fit-content;    
  } 
  
  .messageDirect {
    margin: 10px;
  }

  .messageDirect.from {
    background: #F1F0F0;
    color:#7B7E83;
  }

  .messageDirect.to  {
    background: #4080FF;
    color: #FFFFFF;    
  }

  .messageDirect__title {
    display: flex;
    margin-bottom: 5px;
    font-size: .75rem;
  }
  
  .messageDirect__title h4 {
    font-weight: 600;
    margin-right: 10px;
    font-size: .75rem;
  }

  .messageDirect__title span {
    font-size: .55rem;
  }

  .messageDirect__wrapper {
    padding: 4px;
  }

  .messageDirect__body p {
    font-size: .75rem;
    /*color: #464646;*/
  }
  
  #effect { padding-bottom: 20px }
  
  @media (max-width: 600px) {
    * {
      font-size: 1rem;
    }
  
    .chatDirect__footer {
      flex-direction: column;
    }
  
    .chatDirect__footer form-direct {
      margin-bottom: 10px;
    }
  
    .chatDirect__footer .buttonDirect {
      margin-top: 5px;
    }
  }